html body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

.stem {
  width: 10px;
  height: 75px;
  background-color: green;
  margin-left: 75px;
  margin-top: -35px;
}

.pot {
  border-top: 100px solid brown;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
}

.seeds {
  margin-left: 25px;
  top: 25%;
  right: 50%;
  width: 115px;
  height: 115px;
  background: brown;
  border-radius: 50%;
}

.leaves {
  width: 115px;
  height: 80px;
  background: yellow;
  border-radius: 100px / 45px;
  border: 1px solid white;
  transform: rotate(285deg);
  margin-top: -15px;
  margin-left: -15px;
}

.leaf1 {
  transform: rotate(35deg);
  margin-top: -75px;
  margin-left: 25px;
}

.leaf2 {
  transform: rotate(270deg);
  margin-top: -100px;
  margin-left: 100px;
}
.leaf3 {
  transform: rotate(140deg);
  margin-top: -50px;
  margin-left: 165px;
}
.leaf4 {
  transform: rotate(180deg);
  margin-top: -10px;
  margin-left: 190px;
}
.leaf5 {
  transform: rotate(33deg);
  margin-top: -20px;
  margin-left: 175px;
}

.leaf6 {
  transform: rotate(270deg);
  margin-top: -50px;
  margin-left: 100px;
}
.leaf7 {
  transform: rotate(135deg);
  margin-top: -125px;
  margin-left: 25px;
}
